<html>
<head>
	<title>Weather-Machine</title>
	<link rel="icon" href="favicon-codepen.ico">
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- font-awesome -->
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
	
	<!-- angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<!-- contador de visitas-->
	<script type="text/javascript" src="http://counter2.01counter.com/private/countertab.js?c=9b3873bc7ca2bab07321639ac3361314"></script>
	        
		        

	<style type="text/css">

		body{
			background-color: #111;
			color: #FFF;
			font-family: 'Roboto';
			text-align: center;
		}

		#titulo{

			font-size: 50px;
			margin-bottom: 90px;
			margin-top: 40px;

		}


		#clima-container{
		    width:180px;
		    height:200px;
		    font-size: 25px;
		    font-weight: capitalize;
		    margin:auto;
		}

		#temperatura{
			padding: 0;
			text-align: right;
		}

		#unidadTemp{
			text-align: left;
		}

		#contador-visitas{
			position: fixed;
		    bottom: 0;
		    right: 0;
		}

		#iconoTiempo{
			width: 90px;
			height: 90px;
		}

	</style>

</head>
<body>
	<div class="container-fluid">

		<div>
			<h1 id="titulo">Weather App</h1>
		</div>

		<div id="clima-container" ng-app="myApp" ng-controller="myCtrl">
			<div ng-bind="data.location.name"></div>
			<div ng-bind="data.current.condition.text"></div>
			<div class="row">
				<div id="temperatura" ng-bind="data.current.temp_c" class="col-xs-6"></div>
				<div id="unidadTemp" class="col-xs-6"> 
					<a id="anchorCelsius" ng-click="cambiarAKelvin()" ng-show="mostrarCOcultarK" href="#">°C</a>
					<a id="anchorKelvin"  ng-click="cambiarACelsius()" ng-hide="mostrarCOcultarK" href="#">°K</a>
				</div>
			</div>
			<div> <img id="iconoTiempo" ng-src="https:{{data.current.condition.icon}}"> </div>	
		</div>

	</div>

	<div id="contador-visitas">
		<a href="http://www.contadorvisitasgratis.com" title="contador de visitas para web"><img src="http://counter2.01counter.com/private/contadorvisitasgratis.php?c=9b3873bc7ca2bab07321639ac3361314" border="0" title="contador de visitas para web" alt="contador de visitas para web"></a>
    </div>


</body>

<script>

	var app = angular.module('myApp', [])

	app.config(function($sceDelegateProvider) {
	    $sceDelegateProvider.resourceUrlWhitelist([
	        'https://api.apixu.com/**',
	        'https://whateverorigin.herokuapp.com/**',
	        'https://api.ipify.org/?format=json'
	    ]);
	});

	app.controller('myCtrl', function($scope, $http) {

		/*
		var urlC = "https://whateverorigin.herokuapp.com/get?url=" + 
	               encodeURIComponent("http://ip-api.com/json/181.166.98.222")+"&callback=JSON_CALLBACK";
		$http.jsonp(urlC)
		    .success(function(data){
		        console.log(data);
		    });
		*/


		$scope.getIpUrl = "https://ip.nf/me.json";

		$http.get($scope.getIpUrl)
		    .success(function(ipData){
		    	$scope.cityToConsult = ipData.ip.city;
		        $scope.urlToConsult = "https://api.apixu.com/v1/current.json?key=ebe2ef6d64304fbabb5182645171801&q=" + $scope.cityToConsult;

		        console.log($scope.urlToConsult);
		        $http({method: "GET", url: $scope.urlToConsult}).
		        then(function(response) {
		          $scope.status = response.status;
		          $scope.data = response.data;
		          $scope.data.current.temp_c = Math.trunc($scope.data.current.temp_c);
		        }, function(response) {
		          $scope.data = response.data || 'Request failed';
		          $scope.status = response.status;
		      });

		    });



		$scope.mostrarCOcultarK = true;
		$scope.cambiarAKelvin = function(){
			$scope.data.current.temp_c = $scope.data.current.temp_c + 273;
			$scope.mostrarCOcultarK = !($scope.mostrarCOcultarK);
		};
		$scope.cambiarACelsius = function(){
			$scope.data.current.temp_c = $scope.data.current.temp_c - 273;
			$scope.mostrarCOcultarK = !($scope.mostrarCOcultarK);
		};

	});

</script>

</html>